header nav {
    .menu {
        list-style-type: none;
        background-color: #E5E5E5;
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
    }
    .logo-login {
        width: 100px;
        height: 100px;
        margin-left: 10px;
    }
    .barra-nav {
        background-color: none;
        font-family: "Poppins", sans-serif;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
}
header nav div li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

footer nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    text-align: center;
    background-color: #E5E5E5;
    height: auto;
    width: 100%;
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    div img {
        @media screen and (max-width: 500px) {
            display: none;
        }
    }

    .logorrss {
        width: 25px;
        height: 25px;

        @media screen and (max-width: 650px) {
            width: 20px;
            height: 20px;
        }
    }

    div {
        h3{
            text-align: center;
        }
        a ul {
            text-align: center;
            margin: 0px;
            padding: 0px;
            margin-bottom: 3px;
        }
    };
}